@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-image: url('/background.svg');
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-color: #90caf9 #1e1e1e;
  scrollbar-width: thin;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: #1e1e1e;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #90caf9;
  border-radius: 8px;
}
